Library/
Library/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Virtual Environment
.venv/
env/
venv/

# Node.js
node_modules/

# dotenv
.env

# IDEs
.idea/
.vscode/

# Log files
*.log

# Other files to ignore
*.swp
*.swo

PycharmProjects/
